#img1 {
    width: 500px;
    height: 600px;
    object-fit: cover;
}

#img2 {

    width: 500px;
    height: 600px;
    object-fit: cover;
}

#img3 {
    width: 425px;
    height: 600px;
    object-fit: cover;
}

#img4 {
    width: 1500px;
    height: 500px;
    object-fit: cover;
}

#img5 {
    width: 475px;
    height: 600px;
    object-fit: cover;
}

#img6 {
    width: 475px;
    height: 600px;
    object-fit: cover;
}

#img7 {
    width: 475px;
    height: 600px;
    object-fit: cover;
}