/* body {
    background-image: url("../Images/Nature.jpg");
    background-repeat: no-repeat;

} */

#main {
    font-family: cursive;
    text-align: center;
}

#pongal {
    margin-right: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.demo {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;

}

.demo article {
    width: 500px;

}

.pic {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    float: right;
    width: 40%;
    margin-top: 105px;

}

p {
    text-align: justify;
}